[submodule "src/vendors/SDL3"]
	path = src/vendors/SDL3
	url = https://github.com/libsdl-org/SDL
	branch = main
[submodule "src/vendors/SDL_image"]
	path = src/vendors/SDL_image
	url = https://github.com/libsdl-org/SDL_image
	branch = main
