[submodule "src/vendors/SDL"]
	path = src/vendors/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "src/vendors/glslang"]
	path = src/vendors/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "src/vendors/SPIRV-Cross"]
	path = src/vendors/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "src/vendors/SPIRV-Tools"]
	path = src/vendors/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "src/vendors/SPIRV-Headers"]
	path = src/vendors/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
